@use "sass:math";
@use "../styles/utils" as *;

.contentContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: rem(32);

  @include desktop-up {
    flex-direction: row;
  }
}
