@use "../styles/utils" as *;

.formContainer {
  display: flex;
  flex-direction: column;
  gap: rem(24);
  max-width: rem(360);
}

.header {
  @include text($white, $font-size-l, $line-height-l, $font-regular);
}

.ctaContainer {
  display: flex;
  justify-content: space-between;
  gap: rem(24);
}

.textContainer {
  position: relative;
  overflow: hidden;

  flex: 1;
  border: 1px solid $primary;
  padding: rem(8);
  p {
    overflow: auto;
    height: 100%;
    white-space: pre-line;
     padding: rem(8);

    @include text($white, $font-size-m, $line-height-m, $font-regular);
  }
}

.copyButton {
  position: sticky !important;
  left: 95%;
  bottom: 1%;
  padding: 0;
  background-color: $secondary !important;
  opacity: 0.7;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
}

.snackbar > * {
  background-color: $success !important;
}
