@use "sass:math";
@use "../styles/utils" as *;

.urlsMultilineInput {
  flex: 1;
  height: 100%;
  width: 100%;
}

.submitButton {
  max-width: rem(256);
  align-self: center;
}

.container {
  flex: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.saveAsButton {
  max-width: rem(212);
  align-self: flex-end;
}
