@use "../../styles/utils" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  width: 100%;
  flex: 1;
}

.gray-fill {
  svg {
    path {
      fill: $gray-medium;
    }
  }
}

.dimensionsContainer {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  max-width: rem(160);

  @include tablet-landscape-up {
    flex-direction: row;
  }
}
